/*by ToFran*/

body{
	background-color:#111111; 
	color:#ffffff;
	}

a{
	color: #C2EBFF; 
	text-decoration: none;
	}


#copyMe{
	position: relative;
	top: -41px;
	height: 18px;
	width: 65px;
	background-color: #33B5E5;
	border-radius:4px;
	opacity: 0.92;
	display: none;
	}

#copytext{
	color: #ffffff;
	margin-top: 0px;
	font-size: 12px;
	}

#arrow{
	position: relative;
	top: -65px;
	opacity: 0.92;
	display: none;
	}

#footer{
	position: relative;
	top: 0px;
	left:180px;
	font-size: 11px;
	}

#textbox1{width:400px;}

#textbox2{width:440px; z-index: -1;}

